.PromoContenedor{
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    min-height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222;
}


.PromoContenedor h2{
    color: white;
    padding: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

.PromoContenedor p{
    padding: 10px;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}
.PromoContenedor {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}
