.contacto-contenedor {
  display: flex;
  justify-content: center;
  margin: 60px 0;
  width: 100%;
}

.contacto-wrapper {
  width: 85%;
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

/* FORMULARIO */
.contacto-form {
  width: 45%;
  background: #f4f4f4;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.contacto-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contacto-form label {
  display: block;
  font-weight: bold;
  margin-top: 12px;
}

.contacto-form input,
.contacto-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.contacto-form textarea {
  resize: none;
  height: 90px;
}

.contacto-form button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background-color: #e57373;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.contacto-form button:hover {
  background-color: #d32f2f;
}

/* MAPA */
.mapa-contacto {
  width: 55%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
}
