.ContactoContenedor {
  padding: 30px;
  color: black;
}

.ContactoContenedor h2 {
  margin-bottom: 15px;
}

.ContactoLista {
  list-style: none;
  padding: 0;
}

.ContactoLista li {
  margin-bottom: 10px;
  font-size: 16px;
}

.ContactoLista a {
  color: #00e0ff;
  text-decoration: none;
}

.ContactoLista a:hover {
  text-decoration: underline;
}
