.sucursales-contenedor {
  padding: 20px;
}

.sucursal {
  margin-bottom: 30px;
}

.mapa-sucursal {
  width: 100%;
  height: 250px; /* 👈 NO SE CAMBIA EL TAMAÑO */
  border-radius: 10px;
  overflow: hidden;
}
