.usuarios-contenedor {
  padding: 40px;
}

.usuarios-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  max-width: 600px;
  margin-bottom: 40px;
}

.usuarios-form input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.usuarios-form button {
  grid-column: span 2;
  padding: 10px;
  background: #e38b06;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.tabla-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #111;
  color: white;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.btn-editar {
  background: #e0b400;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-eliminar {
  background: #d32f2f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
